<ion-view title="Consejos">
  <ion-content class="has-header" overflow-scroll="true" padding="true">
    <div class="card">
      <div class="item item-text-wrap">
        Conocer nuestras limitaciones.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        Calentar antes de comenzar la actividad física.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        Estirar al finalizar la actividad física.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        Evitar las horas de mayor insolación.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        Utilizar prendas que permitan la transpiración.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        Correcta hidratación.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        Planificar el entrenamiento.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        Localizar las fuentes cercanas al recorrido, siendo recomendable salir con una reserva de agua.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        Correr en grupo.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        DISFRUTARDELA ACTIVIDAD.
      </div>
    </div>
  </ion-content>
</ion-view>
