<ion-view title="{{ruta.name}}">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div >
      <img ng-src="{{ruta.desnivel}}">
      <!-- <p>{{ruta.observaciones}}</p> -->
    </div>
    <div class="button-bar">
      <a class="button icon ion-map button-positive" href="#/side-menu21/mapa/{{ruta.id}}"></a>
      <a class="button icon-right ion-chevron-right  button-balanced" href="#/side-menu21/mapa/{{ruta.id}}">Desnivel</a>
      </div>
  </ion-content>
</ion-view>
