<ion-view title="Presentación">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div>
      <p>
        La creación de esta guía de rutas deportivas tiene origen en el gran aumento que ha tenido en los últimos años el número de aficionados a correr ,ciclismo y otras actividades al aire libre.
      </p>
      <p>
        Así mismo, otro de los motivos es la puesta en valor del paisaje a través de la red de caminos y sendas de nuestro singular municipio.
      </p>
      <p>
        La guía está dividida en zonas dependiendo de la ubicación de las rutas, consta de una serie de mapas de localización y mapas en detalle de cada circuito.
      </p>
      <p>
        A su vez, se muestran los perfiles de elevación de cada recorrido ,que irán acompañados de características como distancia ,elevación, pendiente máxima, pendiente media y recomendaciones.
      </p>
    </div>
  </ion-content>
</ion-view>
